Flask>=3.0.3
Flask-SQLAlchemy>=3.1.1
Flask-Cors>=4.0.1
Flask-Limiter>=3.7.0
psycopg2-binary>=2.9.9
Pillow>=11.0.0
requests>=2.32.2
firebase-admin>=6.5.0
resend>=2.2.0
python-dotenv>=1.0.1
gunicorn>=22.0.0
google-genai>=1.0.0
